<section ng-controller="talentsController">
    <div class="col-md-10 col-md-offset-1">
    <form name="talentForm" class="form-horizonal" ng-submit="create(talentForm.$valid)" novalidate>
        <div class="row">
          <div class="col-md-5">
            <a href="" ng-click="togglePhotoUpload = !togglePhotoUpload">
              <img  id="addPhoto" src="./modules/core/client/img/add-photo.png" title="Add/Edit your Main Photo" alt="Add/Edit your Main Photo"/>
            </a>
            <div ng-show="toggleUpload">
              Upload form for picture
            </div>

            <img ng-if="!talentProfile.topimage" src="/uploads/users/media/default-avatar.png" />
            <img ng-if="talentProfile.topimage" src="{{talent.baseMediaUrl }}{{talentProfile.user.id}}/{{talentProfile.topimage" />

            <div class="form-group" show-errors>
              <label for="topimage">Image File Name</label>
              <input name="topimage" type="text" ng-model="topimage" id="topimage" class="form-control" placeholder="topimage" >
              <div ng-messages="talentForm.topimage.$error" role="alert">
              </div>
            </div>
          </div>
          <div class="col-md-2" style="background-color: blue;">
            <a href="" ng-click="toggleMediaUpload = !toggleMediaUpload">
              <img  id="addMedia" src="./modules/core/client/img/add-media.png" title="Add/Edit your Photos and Videos" alt="Add/Edit your Photos and Videos"/>
            </a>
            vertical carousel
            <div ng-show="toggleMediaUpload">
              Upload form for Media
            </div>
          </div>
          
          <div class="col-md-5" style="background-color: green;">
            <h3>displayName</h3>
            <label for="headline_1" class="col-md-4" ng-if="!talentProfile.headline_1">SO, WHO ARE YOU?</label>
            <div class="col-md-8">
                <textarea name="headline_1" rows="2" ng-model="headline_1" id="headline_1" class="form-control" placeholder="GIVE US YOUR BEST LINE" ></textarea>
                <div ng-messages="talentForm.headline_1.$error" role="alert">
                </div>
            </div>
            <div class="form-group" show-errors>
              <label for="mainDescription" class="col-md-4" ng-if="!talentProfile.mainDescription">DESCRIBE YOURSELF</label>
              <div class="col-md-8">
                <textarea name="mainDescription" type= ng-model="mainDescription" id="mainDescription" class="form-control" placeholder="TELL US YOUR STORY!" required rows="5"></textarea>
                <div ng-messages="talentForm.mainDescription.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Description is Required</p>
                </div>
              </div>
            </div>

        <!--- inline form group -->
        <div class="row">
            <label for="gender" class="col-md-2">GENDER</label>
            <div class="input-group col-md-10">
                <div class="radio radio-info radio-inline">
                    <input type="radio" ng-model="gender" name="gender" value="male" >
                    <label>Male</label>
                </div>
                <div class="radio radio-info radio-inline">
                    <input type="radio" ng-model="gender" name="gender"  value="female" >
                    <label>Female</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="age" class="col-md-6">AGE</label>
              <div class="input-group col-md-6">
                <select id="age" ng-model="age" name="age" class="chosen-select">
                    <option value="">Select</option>
                    <option ng-repeat="n in ageRange" value="{{ n }}">{{ n }}</option>
                </select>
              </div> 
            </div> 
            <div class="col-md-6">
              <label for="height" class="col-md-6">HEIGHT</label>
              <div class="input-group col-md-6">
                  <select id="height" ng-model="height" name="height" class="chosen-select">
                    <option value="">Select</option>
                    <option ng-repeat="n in heightArray" value="{{n}}">{{ n }}</option>
                  </select> 
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-md-6">
              <label for="weight" class="col-md-6">WEIGHT</label>
              <div class="input-group col-md-6">
                <select id="weight" ng-model="weight" name="weight" class="chosen-select">
                  <option value="">Select</option>
                  <option ng-repeat="n in weightRange" value="{{n}}">{{ n }}</option>
                </select>
              </div>
            </div>
          </div>


        <div class="form-group" show-errors>
          <label for="hairColor">Hair Color</label>
           <div class="input-group">
              <select id="hairColor" ng-model="hairColor" name="hairColor" class="chosen-select">
                  <option value="">Select</option>
                  <option ng-repeat="n in hairColorArray" value="{{n}}">{{ n }}</option>
              </select>
          </div>
          <div ng-messages="talentForm.hairColor.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Hair Color is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="hairType">Hair Type</label>
           <div class="input-group">
              <select id="hairType" ng-model="hairType" name="hairType" class="chosen-select">
                  <option value="">Select</option>
                  <option ng-repeat="n in hairTypeArray" value="{{n}}">{{ n }}</option>
              </select>
          </div>
          <div ng-messages="talentForm.hairType.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Hair Type is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="ethnicity">Ethnicity</label>
           <div class="input-group">
              <select id="ethnicity" ng-model="ethnicity" name="ethnicity" class="chosen-select">
                  <option value="">Select</option>
                  <option ng-repeat="n in ethnicityArray" value="{{n}}">{{ n }}</option>
              </select>
          </div>
          <div ng-messages="talentForm.ethnicity.$error" role="alert">
            <p class="help-block error-text" ng-message="required"> Ethnicity is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="languages">Languages</label>
           <div class="input-group">
              <select id="languages" ng-model="languages" name="languages" class="chosen-select">
                  <option value="">Select</option>
                  <option ng-repeat="n in languagesArray" value="{{n}}">{{ n }}</option>
              </select>
          </div>
          <div ng-messages="talentForm.languages.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Languages is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="characterTags">Character Tags</label>
           <div class="input-group">
              <select id="characterTags" ng-model="characterTags" name="characterTags" class="chosen-select">
                  <option value="">Select</option>
                  <option ng-repeat="n in characterTagsArray" value="{{n}}">{{ n }}</option>
              </select>
          </div>
          <div ng-messages="talentForm.characterTags.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Character Tags is required.</p>
          </div>
        </div>
       
        <div class="form-group" show-errors>
          <label for="profileVideoName">Profile Video Name</label>
          <input name="profileVideoName" type="text" ng-model="profileVideoName" id="profileVideoName" class="form-control" placeholder="profileVideoName" >
          <div ng-messages="talentForm.profileVideoName.$error" role="alert">
          </div>
        </div> 
    </form>
  </div>
</section>
