<section ng-controller="TalentProfileController" ng-init="getProfile(talentId)">

  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">

      <!-- Main Pic -->
      <div class="col-xs-12 col-sm-7">    
        <div class="row">
           <!-- Media Carousel -->
            <a href="/dash/talents/edit" ng-show="authentication.user.id">
              <button id="addMedia" class="btn btn-primary">
                <i class="fa fa-pencil-square-o fa-2x"></i> 
              </button>
            </a>


            <!-- start Carousel Main images -->
              <carousel id="carousel" class="carousel-lg-slides">

                <slide ng-repeat="image in talentProfile.mediaArray.images" id="carousel-slide-{{ $index }}"><img class="img-responsive" ng-src="/uploads/users/media/{{ talentProfile.id }}/{{image.filename}}"></slide>   
              </carousel>

            <!-- start Carousel THumb images broken in to 4 thumb sets-->
              <carousel id="thumbcarousel">
                <slide ng-repeat="(k1, v1) in talentProfile.mediaArray.thumbs">
                  <div class="item">
                    <img  ng-repeat="(k2, thumb) in talentProfile.mediaArray.thumbs[k1]" data-target="#carousel" data-slide-to="{{thumb.position - 1 }}" src="/uploads/users/media/{{ talentProfile.id }}/{{thumb.filename}}" class="thumb" ng-click="thumbClick($event)">
                  </div>
                </slide>
              </carousel>


               
        </div>
      </div>
      
      <!-- Profile Main -->
      <div class="col-xs-12 col-sm-5">

      <!-- Display Name -->
        <h1 class="displayName">{{ talentProfile.user.displayName}}</h1>

      <!-- Headline and Description Boxes -->
        <div class="row">
          <div class="col-md-12" >
              <h3 name="headline_1" ng-bind="talentProfile.headline_1" id="headline_1"></h3>
              <div name="mainDescription" ng-bind="talentProfile.mainDescription" id="mainDescription"></div>
          </div>
        </div>
        <div class="row" >
          <div class="profileEditHeader">
              Vital Info
          </div>
          <div class="col-md-6">  
            <div class="gender">
              <label for="gender">Gender: </label>
              <span ng-if="talentProfile.gender === 0">
                M
              </span> 
               <span ng-if="talentProfile.gender === 1">
                M
              </span>
            </div>
            <div ng-if="talentProfile.age" class="age">
              <label for="age">Age: </label>
              <span ng-bind="talentProfile.age"></span> 
            </div>
          </div>
          <div class="col-md-6">
            <div class="height">
              <label for="height">Height: </label>
              <span ng-bind="talentProfile.height"></span> 
            </div>
            <div class="weight">
              <label for="weight">Weight: </label>
             <span ng-bind="talentProfile.weight"></span> 
            </div>
          </div>
        </div>

    <div class="row">
      <!-- Headline and Description Boxes -->
    <div class="profileEditHeader">
      Physical Attributes
    </div>
      <div class="col-md-6">
        <div class="hairColor">
          <label for="hairColor">Hair Color: </label>
            <span ng-bind="talentProfile.hairColor"></span> 
        </div>


        <div class="hairType">
          <label for="hairType">Hair Type: </label>
          <span ng-bind="talentProfile.hairType"></span> 
        </div>
      </div>

      <div class="col-md-6">
        <div  class="ethnicity">
          <label for="ethnicity">Ethnicity: </label>
          <span ng-bind="talentProfile.ethnicity"></span> 
        </div>

        <div class="languages">
          <label for="languages">Languages: </label>
          <span ng-bind="talentProfile.languages"></span> 
        </div>
      </div>
    </div>

    

    <div class="row">
      <div class="profileEditHeader">
      Character Tags
      </div>
      <div class="col-md-6">
        <div class="characterTags">
            <span ng-bind="talentProfile.characterTags"></span> 
        </div>
      </div>
    </div>
  </div> 
</section>
