<div class="jumbotron" id="jumbo-2">
			<div class="container" id="mid-jumbo">
				<div class="col-xs-12 col-md-6 col-md-offset-1">
					<h2 class="jumbo-title">SELECT BUSINESS</h2>
					<h1 class="jumbo-title">VIDEO IS NEEDED</h1>
					
				</div>

			</div><!-- .container -->
		</div><!-- .jumbotron #main-jumbo -->

		<div class="container">
			<div class="row text-center">
				<div class="col-md-12" id="navlist_center">
					<ul class="list-inline navlist">
						<li><a href="#">SERVICE BUSINESS</a></li>
						<li><a href="#">RETAIL STORE | ECOMMERCE</a></li>
						<li class="active"><a href="#" >ONLINE BUSINESS</a></li>
						<li><a href="#">OTHER</a></li>
					</ul>
				</div>
				<div class="col-md-10 col-md-offset-1">
					<img src="modules/core/client/img/navlist_shadow.png" class="img-responsive" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 ">
					<h1 class="text-center">SERVICE BUSINESS</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<img src="modules/core/client/img/comp-video.png" class="img-responsive center-block" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-6">
					<img src="modules/core/client/img/hiw_pre_pink.png" class="img-responsive" />
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-md-offset-3">
					<img src="modules/core/client/img/hiw_1_blue.png"  id="hiw_1_blue" class="img-responsive" />
				</div>
				<div class="col-md-5 right_content_container">
					<div class="hiw_right_bubble" id="hiw_1_blue_bubble">
						<h4>Pick Models</h4>
					</div>
					<div class="hiw_right_content">
						Vivamus feugiat hendrerit ex at dictum. Pellentesque mi nisl, pretium ac nisl in, tristique viverra orci. Maecenas vulputate sagittis metus ac malesuada.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 left_content_container">
					<div class="hiw_left_bubble pull-right" id="hiw_2_yellow_bubble">
						<h4 class="pull-right">Select Writer</h4>
					</div>
					<div class="clearfix"></div>
					<div class="hiw_left_content">
						Vivamus feugiat hendrerit ex at dictum. Pellentesque mi nisl, pretium ac nisl in, tristique viverra orci. Maecenas vulputate sagittis metus ac malesuada.
					</div>
				</div>
				<div class="col-md-4">
					<img src="modules/core/client/img/hiw_2_yellow.png"  id="hiw_2_yellow" class="img-responsive" />
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-md-offset-3">
					<img src="modules/core/client/img/hiw_3_orange.png"  id="hiw_3_orange" class="img-responsive" />
				</div>
				<div class="col-md-5 right_content_container">
					<div class="hiw_right_bubble" id="hiw_3_orange_bubble">
						<h4>Script Feedback</h4>
					</div>
					<div class="hiw_right_content">
						Vivamus feugiat hendrerit ex at dictum. Pellentesque mi nisl, pretium ac nisl in, tristique viverra orci. Maecenas vulputate sagittis metus ac malesuada.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 left_content_container">
					<div class="hiw_left_bubble pull-right" id="hiw_4_green_bubble">
						<h4 class="pull-right">Editor is Assigned</h4>
					</div>
					<div class="clearfix"></div>
					<div class="hiw_left_content">
						Vivamus feugiat hendrerit ex at dictum. Pellentesque mi nisl, pretium ac nisl in, tristique viverra orci. Maecenas vulputate sagittis metus ac malesuada.
					</div>
				</div>
				<div class="col-md-4">
					<img src="modules/core/client/img/hiw_4_green.png"  id="hiw_4_green" class="img-responsive" />
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-md-offset-3">
					<img src="modules/core/client/img/hiw_5_slate.png"  id="hiw_5_slate" class="img-responsive" />
				</div>
				<div class="col-md-5 right_content_container">
					<div class="hiw_right_bubble" id="hiw_5_slate_bubble">
						<h4>Post Production</h4>
					</div>
					<div class="hiw_right_content">
						Vivamus feugiat hendrerit ex at dictum. Pellentesque mi nisl, pretium ac nisl in, tristique viverra orci. Maecenas vulputate sagittis metus ac malesuada.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 left_content_container">
					<div class="hiw_left_bubble pull-right" id="hiw_6_blue_bubble">
						<h4 class="pull-right">50% Payment</h4>
					</div>
					<div class="clearfix"></div>
					<div class="hiw_left_content">
						Vivamus feugiat hendrerit ex at dictum. Pellentesque mi nisl, pretium ac nisl in, tristique viverra orci. Maecenas vulputate sagittis metus ac malesuada.
					</div>
				</div>
				<div class="col-md-4">
					<img src="modules/core/client/img/hiw_6_blue.png"  id="hiw_6_blue" class="img-responsive" />
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-md-offset-3">
					<img src="modules/core/client/img/hiw_7_orange.png"  id="hiw_7_orange" class="img-responsive" />
				</div>
				<div class="col-md-5 right_content_container">
					<div class="hiw_right_bubble" id="hiw_7_orange_bubble">
						<h4>Final Video Delivered</h4>
					</div>
					<div class="hiw_right_content">
						Vivamus feugiat hendrerit ex at dictum. Pellentesque mi nisl, pretium ac nisl in, tristique viverra orci. Maecenas vulputate sagittis metus ac malesuada.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2 col-md-offset-6">
					<img src="modules/core/client/img/hiw_post_slate.png" id="hiw_post_slate" class="img-responsive" />
				</div>
			</div>




		</div>
			
			
		

		<div class="container-fluid" id="testimonial_3">
			<div class="row-fluid" >
				<div class="container">
					<div class="col-md-4 col-md-offset-2" id="testimonial_circle_3">
							<img src="modules/core/client/img/testimonial_circle_1.png" class="img-responsive" rel="" title="" />
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1" id="cta_1">
					<div class="row">
						<div class="col-md-7" id="cta_title">
							<h1>Ready to Get Started?</h1>
						</div>
						<div class="col-md-3" id="cta_button">
							<a href="#" class="btn btn-default btn-lg sharp">Get Started Now!</a>
						</div>	
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1" id="cta_1_shadow">
					<img class="img-responsive" src="modules/core/client/img/cta_bluebox_shadow.png" />
				</div>
			</div>

		</div>

