<nav class="navbar-default navbar-static-side sharp" ng-controller="HeaderController" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">

                <div class="profile-element">
                    <img alt="image" class="img-circle" src="/uploads/users/profile/{{authentication.user.profileImageURL}}"/>
                    <div class="clear">
                        <span class="block m-t-xs">
                            <strong class="font-bold">{{ authentication.user.displayName }}</strong>
                        </span>
                    </div>   
                </div>
                <div class="logo-element">
                    VGPro
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dash.home"><i class="fa fa-th-large"></i>Dashboard Home</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dash.gigs.list"><i class="fa fa-diamond"></i>Gigs</a>
            </li> 
            <li ui-sref-active="active">
                <a ui-sref="dash.talents.edit"><i class="fa fa-diamond"></i>Profile</a>
            </li>      
            <li ui-sref-active="active">
                <a ui-sref="dash.resources.list"><i class="fa fa-bar-chart-o"></i>Media</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dash.messages.list"><i class="fa fa-envelope"></i>Messages</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dash.accounts.list"><i class="fa fa-flask"></i>Account</a>
            </li>
            
        </ul>

    </div>
</nav>