<fieldset  class="animated fadeInUp">
    <h2>Create Your Video</h2>

    <div ng-if="formData.campaignStyle === ''">
        <h2>What Kind of video can we create for you today?</h2>
        <button ng-click="formData.campaignStyle = 'package'" href="">Bundle</button>
        <button ng-click="formData.campaignStyle = 'custom'" href="">Custom</button>
    </div>

    <div class="row" ng-if="formData.campaignStyle ==='custom'">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="form-group">
                <label>Video Name</label>
                <input id="videoName" ng-model="formData.videoname" name="videoname" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Number of Videos</label>
                <div class="input-group">
                    <select id="videoNumberType" ng-model="formData.videonumbertype" name="videonumbertype" chosen class="chosen-select">
                        <option value="">Select</option>
                        <option value="single">Single</option>
                        <option value="multi">Multi-Video Package </option>
                        <option value="recurring">Recurring Video - Best value</option>
                    </select>
                </div>
            </div>
             <div ng-if="formData.videonumbertype === 'multi'" class="form-group">
                <label>Multi-Video Package Options</label>
                <div class="input-group">
                    <select id="videoMultiOptions" ng-model="formData.videomultioptions" name="videomultioptions" chosen class="chosen-select">
                        <option value="allAtOnce">All at Once</option>
                        <option value="packageOverTime">Package Over Time (i.e. 4 in 3 months)</option>
                    </select>
                </div>
            </div>
            <div ng-if="formData.videomultioptions === 'allAtOnce'" class="form-group">
                <label>All At Once Package - How Many</label>
                <div class="input-group">
                    <select id="videoMultiAllAtOnce" ng-model="formData.videomultiallatonce" name="videomultiallatonce" chosen class="chosen-select">
                        <option value="">Select</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="5+">More than 5</option>
                    </select>
                </div>
            </div>
            <div ng-if="formData.videomultioptions === 'packageOverTime'" class="form-group">
                <label>Package Over Time - Options</label>
                <div class="input-group">
                    <select id="videoOverTimeOptions" ng-model="formData.videoOverTimeOptions.number" name="videoOverTimeOptionsNumber" chosen class="chosen-select">
                        <option value="">Select</option>
                        <option value="1">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="5+">More than 5</option>
                    </select>
                </div>
                <label>Package Over Time - Options</label>
                <div class="input-group">
                    <select id="videoOverTimeOptions" ng-model="formData.videoOverTimeOptions.timeFrame" name="videoOverTimeOptionsTimeFrame" chosen class="chosen-select">
                        <option value="">Select</option>
                        <option value="1month">1 Month</option>
                        <option value="2months">2 Months</option>
                        <option value="3months">3 Months</option>
                        <option value="4months">4 Months</option>
                        <option value="5months">5 Months</option>
                        <option value="6months">6 Months</option>
                    </select>
                </div>
            </div>
            <a ng-click="formData.campaignStyle = ''"  href="" class="btn btn-primary">Back</a>
            <a ui-sref="gigs.wizard.step-two" class="btn btn-primary">Next</a>
        </div>
    </div>
    <div class="row" ng-if="formData.campaignStyle ==='package'">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="form-group">
                <label>Package Name</label>
                <input id="videoName" ng-model="formData.packageName" name="packagename" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Package Type</label>
                <div class="input-group">
                    <select id="videoUse" ng-model="formData.packageType" name="packagetype" chosen class="chosen-select">
                        <option value="">Select</option>
                        <option value="1-1-15s">1 actor, 1 location, 15 seconds ($250)</option>
                        <option value="1-1-30s">1 actor, 1 location, 30 seconds ($350)</option>
                        <option value="1-1-1m">1 actor, 1 location, 1 Minute ($400)</option>
                        <option value="1-1-2m">1 actor, 1 location, 2 Minutes ($450)</option>
                    </select>
                </div>
            </div>
            <a ng-click="formData.campaignStyle = ''"  href="" class="btn btn-primary">Back</a>
            <a ui-sref="gigs.wizard.step-two" class="btn btn-primary">Next</a>
        </div>
    </div>
</fieldset>
