<section class="row" ng-controller="EditAccountController" ng-init="getProfile(authentication.user.id)">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">

    <form name="accountForm" ng-submit="updateAccountProfile(accountForm.$valid)" class="signin" novalidate autocomplete="off">

      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">Edit My Profile</th>
          </tr>
        </thead>
        <tbody>
          <tr class="form-group" show-errors>
            <td>
              <label for="address">Address</label>
            </td>
            <td>
              <input type="text" id="address" name="address" class="form-control" ng-model="account.address" placeholder="Address" required />
              <div ng-messages="accountForm.address.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Address is required.</p>
              </div>
            </td>
          </tr>
          <tr class="form-group" show-errors>
            <td>
              <label for="address_2">Address #2</label>
            </td>
            <td>
              <input type="text" id="address_2" name="address_2" class="form-control" ng-model="account.address_2" placeholder="Address_2" required />
            </td>
          </tr>
          <tr class="form-group" show-errors>
            <td>
              <label for="city">City</label>
            </td>
            <td>
              <input type="text" id="city" name="city" class="form-control" ng-model="account.city" placeholder="City" required />
              <div ng-messages="accountForm.city.$error" role="alert">
                <p class="help-block error-text" ng-message="required">City is required.</p>
              </div>
            </td>
          </tr>
          <tr class="form-group" show-errors>
            <td>
              <label for="state">State</label>
            </td>
            <td>
              <select id="state" name="state" class="form-control" ng-model="account.state" ng-options="k as v for (k,v) in state_hash" required />
              </select>
              <div ng-messages="accountForm.state.$error" role="alert">
                <p class="help-block error-text" ng-message="required">State is required.</p>
              </div>
            </td>
          </tr>
          <tr class="form-group" show-errors>
            <td>
              <label for="zipCode">Zipcode</label>
            </td>
            <td>
              <input type="text" id="zipCode" name="zipCode" class="form-control" ng-model="account.zipCode" placeholder="ZipCode" required />
              <div ng-messages="accountForm.zipCode.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Zipcode is required.</p>
              </div>
            </td>
          </tr>
          <tr class="form-group" show-errors>
            <td>
              <label for="phoneHome">Phone(Home)</label>
            </td>
            <td>
              <input type="text" id="phoneHome" name="phoneHome" class="form-control" ng-model="account.phoneHome" placeholder="Phone(Home)" required />
            </td>
          </tr>
          <tr class="form-group" show-errors>
            <td>
              <label for="phoneOffice">Phone(Office)</label>
            </td>
            <td>
              <input type="text" id="phoneOffice" name="phoneOffice" class="form-control" ng-model="account.phoneOffice" placeholder="Phone(Office)" required />
            </td>
          </tr>
          <tr class="form-group" show-errors>
            <td>
              <label for="phoneMobile">Phone(Mobile)</label>
            </td>
            <td>
              <input type="text" id="phoneMobile" name="phoneMobile" class="form-control" ng-model="account.phoneMobile" placeholder="Phone(Mobile)" required />
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" align="center">
              <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default btn-block">
              </div>
              <div ng-show="success" class="text-center alert alert-success">
                <strong>Profile Saved Successfully</strong>
              </div>
              <div ng-show="error" class="text-center alert alert-danger">
                <strong ng-bind="error"></strong>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>

    </form>

  </div>
</section>
