<section ng-controller="SettingsController">
  <div class="page-header">
    <h1>Settings</h1>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 sol-md-settings-view">
      <ul class="nav nav-pills nav-inline">
        <li ui-sref-active="active">
          <a ui-sref="dash.settings.info">Edit Basic Info</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="dash.settings.profile">Edit Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="dash.settings.picture">Change Profile Picture</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="dash.settings.password">Change Password</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="dash.settings.accounts">Manage Social Accounts</a>
        </li>
      </ul>
    </nav> 
      <div ui-view></div>
    </div>
  </div>
</section>