<div class='jumbotron sign-in'>

  <div class="container sign-in-box animated fadeInUp">
    <section class="row" ng-controller="AuthenticationController">
      <h4 class="col-md-12 text-center sign-in-head">SIGN-IN TO VID GIG PRO</h4>
      <div class="col-md-12 text-center">
        <img ng-click="callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/client/img/buttons/facebook.png" class="img-circle-big" width="65">
        <img ng-click="callOauthProvider('/api/auth/twitter')" ng-src="/modules/users/client/img/buttons/twitter.png" class="img-circle-big" width="65">
        <img ng-click="callOauthProvider('/api/auth/google')" ng-src="/modules/users/client/img/buttons/google.png" class="img-circle-big" width="65">
        <img ng-click="callOauthProvider('/api/auth/linkedin')" ng-src="/modules/users/client/img/buttons/linkedin.png" class="img-circle-big" width="65">
      </div>

         

      <div ui-view></div>
    </section>
  </div>
</div>